@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: black;
    color: white;
}
.header{
    background-color: rgb(9, 8, 8);
}
.card{
    background-color: rgb(15, 14, 14);
}